BACKEND_URL=http://127.0.0.1:8080
API_PORT=8080
STREAMLIT_PORT=8501
SPACY_MODEL=en_core_web_sm
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
CORS_ALLOW_ORIGINS=http://localhost:8501,http://127.0.0.1:8501
